In [1]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","testdb" )

# prepare a cursor object using cursor() method
cursor = db.cursor()
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data

# disconnect from server
db.close()

Database version : 10.1.30-MariaDB

In [4]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","testdb", charset = "utf8")

# prepare a cursor object using cursor() method
cursor = db.cursor()

cursor.execute("SET NAMES utf8")
db.commit()
sql = "INSERT INTO TRAINING VALUES ('%d', '%s')"%(5, values[0])
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    db.commit()
except:
    print("training--------------")
    # Rollback in case there is any error
    db.rollback()
db.close()

In [1]:
dataframe_mysql = sqlContext.read.format("jdbc").options( url="jdbc:mysql://localhost:3306/testdb?useUnicoding=true&characterEncoding=utf-8",driver = "com.mysql.jdbc.Driver",dbtable = "training",user="testuser", password="test123").load()
dataframe_mysql.show()

+---+--------------------+
| ID|         SEG_CONTENT|
+---+--------------------+
|  0|布丁,情人節,義式,焦糖,濃醇,貼...|
|  1|卡士達,抹茶,口味,台中,台中店,...|
|  2|鯛魚,便利商店,一品,紅豆,日式,...|
|  3|販賣機,快樂,台北,板橋,黃色,早...|
+---+--------------------+

In [8]:
def shingling_map(doc):
    return doc[1]

In [2]:

row_data = dataframe_mysql.rdd.map(list).collect()
values = row_data[0][1].split(',')
values[0]

u'\u5e03\u4e01'