In [1]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","testdb" )

# prepare a cursor object using cursor() method
cursor = db.cursor()
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data

# disconnect from server
db.close()

Database version : 10.1.30-MariaDB

In [4]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","testdb", charset = "utf8")

# prepare a cursor object using cursor() method
cursor = db.cursor()

cursor.execute("SET NAMES utf8")
db.commit()
sql = "INSERT INTO TRAINING VALUES ('%d', '%s')"%(5, values[0])
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    db.commit()
except:
    print("training--------------")
    # Rollback in case there is any error
    db.rollback()
db.close()

In [1]:
dataframe_mysql = sqlContext.read.format("jdbc").options( url="jdbc:mysql://localhost:3306/testdb?useUnicoding=true&characterEncoding=utf-8",driver = "com.mysql.jdbc.Driver",dbtable = "training",user="testuser", password="test123").load()
dataframe_mysql.show()

+---+--------------------+
| ID|         SEG_CONTENT|
+---+--------------------+
|  0|布丁,情人節,義式,焦糖,濃醇,貼...|
|  1|卡士達,抹茶,口味,台中,台中店,...|
|  2|鯛魚,便利商店,一品,紅豆,日式,...|
|  3|販賣機,快樂,台北,板橋,黃色,早...|
+---+--------------------+

In [2]:
def f(x): return x

In [3]:
def Combiner(a):    #Turns value a (a tuple) into a list of a single tuple.
    return [a]

def MergeValue(a, b): #a is the new type [(,), (,), ..., (,)] and b is the old type (,)
    a.extend([b])
    return a

def MergeCombiners(a, b): #a is the new type [(,),...,(,)] and so is b, combine them
    a.extend(b)
    return a

In [6]:
row_data = dataframe_mysql.rdd.map(lambda x: (x['ID'], x['SEG_CONTENT']))
shingling_rdd = row_data.mapValues(lambda x: x.split(',')).flatMapValues(f).map(lambda x: (x[1],x[0]))
shingling_reduce_rdd = shingling_rdd.combineByKey(Combiner, MergeValue, MergeCombiners).filter(lambda x: len(x[0])>0)
shingling_reduce_rdd.saveAsTextFile("data/output")

In [7]:
import ast

name = 'data/output/part-00000'
file = open(name, 'r')

name_1 = 'data/input/input_0'
file_1 = open(name_1, 'w')

num_shingling = 0
line = file.readline()
while line:
    row = ast.literal_eval(line)
    for t in row[1]:
        tmp = []
        tmp.append(t)
        tmp.append(num_shingling)
        file_1.write(str(tmp))
        file_1.write('\n')
    num_shingling += 1
    line = file.readline()
file.close()
file_1.close()
num_shingling

233

In [8]:
text_file = sc.textFile("data/input/input_0")
matrix_pre_rdd = text_file.map(lambda x: ast.literal_eval(x)).map(lambda x: (x[0], x[1]))
matrix_reduce_rdd = matrix_pre_rdd.combineByKey(Combiner, MergeValue, MergeCombiners)
matrix_reduce_rdd.collect()

[(0,
  [2,
   5,
   10,
   11,
   12,
   13,
   14,
   16,
   19,
   21,
   22,
   25,
   26,
   29,
   32,
   35,
   37,
   41,
   42,
   43,
   44,
   45,
   47,
   49,
   53,
   55,
   58,
   65,
   68,
   71,
   75,
   82,
   84,
   94,
   98,
   102,
   105,
   108,
   109,
   112,
   117,
   123,
   124,
   127,
   130,
   133,
   135,
   138,
   139,
   144,
   148,
   152,
   156,
   157,
   166,
   167,
   168,
   171,
   176,
   186,
   187,
   189,
   191,
   193,
   195,
   196,
   201,
   207,
   213,
   217,
   218,
   219,
   230]),
 (2,
  [1,
   3,
   9,
   17,
   20,
   23,
   28,
   31,
   33,
   38,
   40,
   48,
   62,
   63,
   66,
   69,
   73,
   74,
   76,
   80,
   85,
   94,
   95,
   97,
   103,
   104,
   113,
   115,
   116,
   121,
   122,
   129,
   141,
   142,
   144,
   149,
   151,
   153,
   158,
   160,
   163,
   164,
   172,
   177,
   179,
   180,
   181,
   190,
   192,
   200,
   203,
   204,
   208,
   211,
   212,
   228]),
 (1,
  [0,
   3,
   6,
   7,
   8,
   13,
   18,
   27,
   30,
   31,
   34,
   36,
   46,
   54,
   56,
   57,
   61,
   63,
   64,
   67,
   72,
   77,
   79,
   81,
   83,
   91,
   92,
   94,
   99,
   100,
   101,
   106,
   107,
   114,
   120,
   122,
   126,
   131,
   136,
   143,
   147,
   152,
   154,
   161,
   162,
   166,
   169,
   170,
   172,
   174,
   178,
   182,
   183,
   184,
   188,
   194,
   197,
   198,
   199,
   201,
   206,
   209,
   210,
   216,
   220,
   221,
   227,
   232]),
 (3,
  [3,
   4,
   15,
   24,
   39,
   50,
   51,
   52,
   59,
   60,
   64,
   70,
   78,
   79,
   86,
   87,
   88,
   89,
   90,
   93,
   94,
   96,
   110,
   111,
   118,
   119,
   125,
   128,
   132,
   134,
   137,
   140,
   145,
   146,
   150,
   155,
   159,
   164,
   165,
   166,
   173,
   175,
   185,
   202,
   205,
   214,
   215,
   216,
   222,
   223,
   224,
   225,
   226,
   229,
   231])]

In [2]:
import random
items = list(range(0, 233))

In [10]:
random.shuffle(items)

In [11]:
items

[23,
 208,
 7,
 159,
 10,
 152,
 61,
 113,
 80,
 84,
 157,
 144,
 123,
 161,
 226,
 79,
 209,
 180,
 176,
 227,
 170,
 187,
 77,
 225,
 127,
 24,
 78,
 169,
 206,
 56,
 138,
 117,
 160,
 143,
 172,
 195,
 190,
 85,
 229,
 191,
 126,
 181,
 205,
 69,
 81,
 104,
 218,
 118,
 120,
 30,
 71,
 54,
 3,
 140,
 162,
 58,
 196,
 32,
 48,
 165,
 167,
 108,
 182,
 21,
 47,
 53,
 22,
 106,
 93,
 91,
 224,
 101,
 133,
 46,
 197,
 207,
 65,
 26,
 147,
 178,
 39,
 130,
 34,
 95,
 102,
 199,
 186,
 14,
 168,
 59,
 134,
 72,
 216,
 183,
 87,
 200,
 16,
 212,
 42,
 211,
 6,
 145,
 131,
 110,
 62,
 31,
 204,
 107,
 150,
 75,
 156,
 98,
 1,
 57,
 13,
 83,
 171,
 4,
 148,
 103,
 189,
 202,
 151,
 111,
 82,
 188,
 230,
 164,
 17,
 20,
 223,
 114,
 105,
 29,
 89,
 214,
 142,
 100,
 192,
 90,
 41,
 116,
 166,
 74,
 37,
 40,
 179,
 220,
 28,
 11,
 55,
 201,
 122,
 97,
 119,
 129,
 66,
 215,
 2,
 174,
 73,
 12,
 203,
 221,
 173,
 51,
 35,
 67,
 146,
 109,
 92,
 121,
 175,
 219,
 8,
 33,
 86,
 139,
 210,
 63,
 193,
 38,
 49,
 153,
 70,
 232,
 0,
 132,
 185,
 60,
 128,
 94,
 9,
 213,
 155,
 231,
 124,
 5,
 136,
 19,
 228,
 154,
 76,
 115,
 184,
 44,
 25,
 45,
 112,
 222,
 50,
 64,
 217,
 125,
 135,
 27,
 88,
 194,
 15,
 96,
 198,
 137,
 141,
 18,
 52,
 43,
 158,
 36,
 177,
 163,
 149,
 68,
 99]